.header {
    padding: 3rem 0 3rem 1rem;
}


footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


ul.noStyle {
    list-style: none;
    padding: 0px;
    font-size: 12px;
}

.link {
    line-height: 30px;
}

.aboutUs p {
    font-size: 12px;
    text-align: justify;
}

.cRight h6,
.aboutUs h5,
.navigation h5,
.link h5 {
    color: orange;
}
