html{
    font-size: 8px;
}

/**
 * carousel section
 */
.CarouselSection,
.cityName{
    margin-top: 5rem;
}

/**
 * carousel
 */
.innerItems h2,h3{
    color: #ca4529;
}

/**
 * footer
 */
footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

/**
 * margin top
 */
.localWeather,
.weather,
.capitalTemperature,
.temperatureTable,
.platforms,
.cWeather,
.stories{
margin-top: 2rem;
}

/**
 * local weather section
 */
.localWeather blockquote{ 
    text-align: center;
    padding-top: 2rem;
}

/**
 * local weather section
 */
.localWeather h3{
color: #5a504e;
}

/**
 * local weather section
 */
.localWeather h5{
    color: #a8a3a2;
}

/**
 * weather
 */
.weather h3{
    color: #5a504e;
}
/**
 * weather
 */
.weather span,
.details{
    color: #a8a3a2;
}

.details{
    padding-top: 4rem;
}
/**
 * weather
 */
.weather p{
    text-align: justify-all;
}

/**
 * capital
 */
.capitalTemperature h3{
    color: #5a504e;
}
/**
 * capital
 */
.capitalTemperature h4{
    color: #d04024;
}
/**
 * capital
 */
.capitalTemperature h5{
    color: #a8a3a2;
}
/**
 * table
 */
.temperatureTable h3{
    color: #5a504e;
}

.cityName h2{
    color: #5a504e;
}
/**
 * table
 */
.tableStyle {
    margin-top: 1rem;
}
/**
 * table
 */
.tableStyle thead{
    background-color: #d08c24;
}

/**
 * platform
 */
.platforms h3{
    color: #5a504e;
}
/**
 * platform
 */
.platforms img{
    width: 100%;
}
/**
 * platform
 */
.platforms p{
    margin-top: 1rem;
}
/**
 * platform
 */
.forecastDetail h1{
    text-align: left;
    line-height: 15rem;
}

.stories h3{
    color: #5a504e;
}

.stories img{
    width: 100%;
}
/**
 * 
 * footer
 */
ul.noStyle {
    list-style: none;
    padding: 0px;
    font-size: 12px;
}


/**
 * footer
 */
.link {
    line-height: 30px;
}


/**
 * footer
 */
.aboutUs p {
    font-size: 12px;
    text-align: justify;
}


/**
 * footer
 */
.cRight h6,
.aboutUs h5,
.navigation h5,
.link h5 {
    color: orange;
}

/**
 * [media description]
 * @param  {[type]} min-width: 33.9em        [description]
 * @return {[type]}            [description]
 */
@media (min-width: 33.9em) { 

         html {
        font-size: 10px;
      }


 }
/**
 * Small devices (phones, tablets less than 48em)
  */
@media (min-width: 47.9em) {
     html {
    font-size: 12px;
  }
}

/**
 * Medium devices (tablets, small laptops less than 62em)
 
 */
@media (min-width: 61.9em) {
    html {
    font-size: 14px;
  }

 }

/**
 * Large devices (desktops, screens less than 75em)
 * @param  {[type]} max-width: 74.9em        [description]
 * @return {[type]}            [description]
 */
@media (min-width: 74.9em) {
      
html {
    font-size: 16px;
  }
}